/* -- Google fonts -- */
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* -- w3s W3 CSS framework -- */
@import url(https://www.w3schools.com/w3css/4/w3.css);
/* -- font-awesone icos -- */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
/* -- style -- */
html, body {
    font-family: "Raleway";
  }
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
  }