/* -- Create a Parallax Effect -- */
.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* First image (meeting room) */
  .bgimg-1 {
    background-image: url("https://res.cloudinary.com/assaporami/image/upload/q_auto:eco/v1581608876/assaporami/instagram/Milano-pasta4_nkuqhj.jpg");
    min-height: 100%;
  }
  
  .w3-wide {letter-spacing: 10px;}
  .w3-hover-opacity {cursor: pointer;}
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1600px) {
    .bgimg-1 {
      background-attachment: scroll;
      min-height: 400px;
    }
  }

/* slideshow */
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}