/* -- Create a Parallax Effect -- */
.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* First image (meeting room) */
  .bgimg-1 {
    background-image: url("https://res.cloudinary.com/assaporami/image/upload/q_auto:eco/v1583752993/assaporami/fingerfood/fingerfood-tavola-2000x1000_wqoqem.jpg");
    min-height: 100%;
  }
  
  .w3-wide {letter-spacing: 10px;}
  .w3-hover-opacity {cursor: pointer;}
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1600px) {
    .bgimg-1 {
      background-attachment: scroll;
      min-height: 400px;
    }
  }