/* -- CSS with background images for hompage -- */

/* -- Create a Parallax Effect -- */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* First image (logo) */
  .bgimg-1 {
    background-image: url('https://res.cloudinary.com/assaporami/image/upload/q_auto:eco/v1583073567/assaporami/background/assaporami-nologo-2000x850_avggzk.jpg');
    min-height: 100%;
  }

  /* Second image (catering) */
  .bgimg-2 {
    background-image: url("https://res.cloudinary.com/assaporami/image/upload/q_auto:eco/v1581516563/assaporami/background/fingerfood_qaimqs.jpg");
    min-height: 500px;
  }

 /* Third image (canteen) */
 .bgimg-3 {
  background-image: url("https://res.cloudinary.com/assaporami/image/upload/q_auto:eco/v1582804629/assaporami/background/in-azienda-2000x1000_m0ekop.jpg");
  min-height: 500px;
}

 /* Fourth image (bicycle) */
 .bgimg-4 {
  background-image: url("https://res.cloudinary.com/assaporami/image/upload/q_auto:eco/v1582815978/assaporami/background/bicicletta-2000x1000_bptcaj.jpg");
  min-height: 500px;
}

  .w3-wide {letter-spacing: 10px;}
  .w3-hover-opacity {cursor: pointer;}
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1600px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
      background-attachment: scroll;
      min-height: 400px;
    }
  }