/* -- Create a Parallax Effect -- */
.bgimg-1, .bgimg-2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Fifth image (party buffet) */
  .bgimg-1 {
    background-image: url("https://res.cloudinary.com/assaporami/image/upload/q_auto:eco/v1581862668/assaporami/background/buffet-2000x1000_shumuv.jpg");
    min-height: 100%;
  }
  
  /* Sixth image (fingerfood) */
  .bgimg-2 {
    background-image: url("https://res.cloudinary.com/assaporami/image/upload/q_auto:eco/v1582641322/assaporami/background/finger_food-2000x1000_gso3jk.jpg");
    min-height: 500px;
  }

  .w3-wide {letter-spacing: 10px;}
  .w3-hover-opacity {cursor: pointer;}
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1600px) {
    .bgimg-1, .bgimg-2 {
      background-attachment: scroll;
      min-height: 400px;
    }
  }