<div class="w3-row w3-black w3-opacity w3-hover-opacity-off w3-center">

    <div class="w3-third w3-container w3-small">
        <p>Assaporami è un marchio registrato di Rosemary &#65120; Thyme S.r.l.
        <br>P.IVA IT09427620969 - REA MI 2090563
        </p>
    </div>
        
    <div class="w3-third w3-container w3-xlarge">
        <a href="https://www.facebook.com/assaporami/"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
        <a href="https://www.instagram.com/assaporami/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
        <a href="https://twitter.com/assaporami_"><i class="fa fa-twitter w3-hover-opacity"></i></a>
    </div>

    <div class="w3-third w3-container w3-small">
        <p>
            &copy;&nbsp;2016-2020 R&#65120;T tutti i diritti riservati
            <br>
            <span class="w3-tiny">
                Credits:&nbsp;<i class="fa fa-gitlab" aria-hidden="true"></i><a href="https://gitlab.com/malmerig" style="text-decoration: none;">&nbsp;malmerig</a>
            </span>
        </p>
    </div>
    
</div>