<!-- Navbar (sit on top) -->
<div class="w3-top w3-small">
    <div class="w3-bar" id="myNavbar">
      <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right w3-white" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
        <i class="fa fa-bars"></i>
      </a>
      <a href="https://www.assaporami.it/index.html" class="w3-bar-item w3-button w3-text-white"></i> HOME</a>
      <a href="https://www.assaporami.it/aziende.html" class="w3-bar-item w3-button w3-text-white w3-hide-small"><i class="fa fa-briefcase"></i> AZIENDE</a>
      <a href="https://www.assaporami.it/privati.html" class="w3-bar-item w3-button w3-text-white w3-hide-small"><i class="fa fa-user"></i> PRIVATI</a>
      <!-- <a href="menu.html" class="w3-bar-item w3-button w3-text-white w3-hide-small"><i class="fa fa-cutlery"></i> MENU</a> -->
      <a href="https://www.assaporami.it/note-legali.html" class="w3-bar-item w3-button w3-text-white w3-hide-small"><i class="fa fa-gavel"></i> LEGAL</a>
      <a href="https://www.assaporami.it/contatti.html" class="w3-bar-item w3-button w3-text-white w3-hide-small"><i class="fa fa-envelope"></i> CONTATTI</a>
      <a href="#" class="w3-bar-item w3-button w3-text-white w3-hide-small w3-right w3-hover-orange"><i class="fa fa-search"></i>
      </a>
    </div>
  
    <!-- Navbar on small screens -->
    <div id="myNavbarMobile" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
      <a href="https://www.assaporami.it/aziende.html" class="w3-bar-item w3-button" onclick="toggleFunction()">AZIENDE</a>
      <a href="https://www.assaporami.it/privati.html" class="w3-bar-item w3-button" onclick="toggleFunction()">PRIVATI</a>
      <!-- <a href="menu.html" class="w3-bar-item w3-button" onclick="toggleFunction()">MENU</a> -->
      <a href="https://www.assaporami.it/note-legali.html" class="w3-bar-item w3-button" onclick="toggleFunction()">LEGAL</a>
      <a href="https://www.assaporami.it/contatti.html" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTATTI</a>
      <a href="#" class="w3-bar-item w3-button">CERCA</a>
    </div>
</div>